<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Task Manager</title>
</head>
<body>
    <div class="container mt-5">

        <h1>Your personal task manager</h1>

        <a class="btn btn-primary btn-sm mt-4" href="/add-task">Add Task</a>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ task.task_name }}
                    </td>
                    <td>
                        {{ task.deadline.date() }}
                    </td>
                    <td>
                        {% if task.task_status == 0 %}
                            In progress
                        {% elif task.task_status == 1 %}
                            Done
                        {% elif task.task_status == 2 %}
                            Overdue
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-dark btn-sm" href="/tasks/{{ task.id }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>